{% extends 'layouts/question.html' %} 
{% load get_item %}

{%block content%} 
<form method="POST" action="{% url 'step6' %}"">
{% csrf_token %} 
<h1>Here's a penguin, tell me where you live</h1>
<input type="text" name="city" value="{{city}}" />
<p>And the amount of penguins:</p>
<ol>
{% for answer in answers %}
<li><label><input type="radio" name="answer" value="{{answer}}" {%if selected_answer == answer %}checked {%endif%} /> {{ answers|get_item:answer }}</label></li>
{% endfor %}
</ol>
<hr />
<a href="{% url 'step5' %}">Back</a>
<button>Next</button>
</form>
{%endblock%}
{%block scene%}
<iframe width="1024" height="640" allowfullscreen src="https://v3d.net/93n"></iframe>
{%endblock%}
